
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  var teste = Array();
  var inicio = 95500;
  var quantidades = 95500 + 500;

  var dados = Array();


  for (var i = inicio; i < quantidades; i++) {
       $.ajax({ url: 'http://aiqfome.com/usuario/get',
         data: {id: i},
         type: 'post',
         dataType: "json",
         success: function(data) {

          if(data.usuario.nome != null)
            dados.push(data.usuario);

                      
          }
        });


       


    /*   $.ajax({ url: 'http://aiqfome.com/usuario/get_enderecos',
         data: {id: i},
         type: 'post',
         dataType: "json",
         success: function(data) {



                  }
        });*/


       
  }


  function salvarDB(){
    console.log(dados);
      $.ajax({ url: 'http://localhost:8082/teste/Welcome/insertDB',
         data: {dados: dados},
         type: 'post',
         dataType: "json",
         success: function(data) {
            console.log(data);


                  }
        });
  }



 

</script>


<button onclick="salvarDB()">Salvar</button>